article {
  max-width: 720px;
  margin: 80px auto;
  padding: 0px 20px;
  text-align: left;
  font-family: 'Syne Mono', monospace;
}

article h1 {
  margin-top: 80px;
  margin-top: 0px;
}

article hr {
  margin: 60px 0px 30px;
}

article p {
  font-size: 14px;
  line-height: 1.9;
}
