<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>G. Scott Queen | Title, Year</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/art/styles.css">
  </head>
  <body>
    <section>
      <img src="/images/"></img>
      <div><cite>Title, Year</cite></div>
    </section>
  </body>
</html>

