section {
  display: grid;
  place-items: center;
  height: 80vh;
  margin-top: 5%;
  padding: 10px;
}

img {
  width: auto;
  max-width: 100%;
  max-height: 70vh;
}

.citation {
  text-align: center;
  width: 100%;
  background-color: #ffffff;
}

@media only screen and (min-width: 600px) {
  section {
    height: 100vh;
    margin-top: 0px;
  }

  .citation {
    position: absolute;
    bottom: 10px;
  }
}
