section.gallery-template {
  display: grid;
  place-items: center;
  height: 90vh;
  margin-top: 0;
  padding: 0 10px;
}

section.gallery-template img {
  width: auto;
  max-width: 100%;
  max-height: 70vh;
}

section.gallery-template .citation {
  text-align: center;
  width: 100%;
  background-color: #fff;
}

@media only screen and (min-width: 600px) {
  section.gallery-template {
    height: 100vh;
  }

  section.gallery-template .citation {
    position: absolute;
    bottom: 10px;
  }
}
