.art-block.intro {
  margin: 80px auto 0;
  padding-bottom: 80px;
  text-align: initial;
  line-height: 2;
  max-width: 900px;
}

.art-block.standard,
.art-block.gallery {
  max-width: 85%;
  margin: 80px auto 0;
  padding-bottom: 20px;
  line-height: 2;
}

.art-block.gallery .gallery-image {
  margin: 0 auto 40px;
  max-width: 1600px;
}

.art-block.hero {
  max-width: 85%;
  margin: 80px auto 0;
}

.art-block.hero .hero-image {
  margin-bottom: 20px;
  max-height: 800px;
}

.art-block.hero .hero-image.portrait {
  max-height: initial;
}

.art-block.hero .hero-image-wrapper {
  position: relative;
}

.art-block.hero .hero-image-description {
  position: absolute;
  background: black;
  color: white;
  padding: 10px;
  width: 80%;
  right: -20px;
  bottom: 0;
}

.art-block.hero .hero-description {
  text-align: initial;
  line-height: 2;
}

.art-block.intro p,
.art-block.standard p {
  margin: 20px 30px 0;
}

.art-block.title.inverse {
  color: white;
  background-color: black;
}

.art-block.title {
  width: 100%;
  text-align: initial;
  padding-bottom: 20px;
}

.art-block.title h1 {
  padding: 20px 40px;
  position: initial;
}

@media only screen and (min-width: 900px) {
  .art-block.intro p,
  .art-block.standard p {
    margin: 20px auto 0;
  }

  .art-block.hero {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    max-width: 2400px;
  }

  .art-block.hero .hero-description {
    width: 600px;
    margin: 40px;
  }
}

@media only screen and (min-width: 600px) {
  .art-block.title h1 {
    position: absolute;
    right: 60px;
    top: 0;
  }
}
