.regen-button {
  border: 1px solid black;
  border-radius: 2px;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.regen-button:hover {
  cursor: pointer;
  background: black;
  color: white;
}

.regen-button:disabled {
  border: 1px solid grey;
  background-color: grey;
  color: #555454;
}

.regen-button.anchor {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
