html {
  font-family: 'Syne Mono', monospace;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
}

main {
  /* margin-top: calc(100vh/3.5); */
  height: 100vh;
  background-position: top;
  /* transform: scale(1.2); */
  text-align: center;
}
