html {
  font-family: 'Syne Mono', monospace;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #d8d8d8;
}

main {
  height: 100vh;
  background-position: top;
  text-align: center;
}
