.polaroid-wrapper {
  position: relative;
  width: 450px;
  margin: 0 auto;
  background-color: transparent;
}

.polaroid-wrapper img {
  clip-path: polygon(20% 13%, 85% 13%, 85% 85%, 20% 85%);
}

.polaroid-overlay {
  background-image: url("../images/polaroid-4.png");
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 9999;
}

.polaroid-title {
  font-family: "Rock Salt", cursive;
  margin: 0;
  line-height: 1.6;
  position: absolute;
  width: 250px;
  bottom: 60px;
  left: 100px;
  z-index: 9999;
  font-size: 12px;
  opacity: 0.6;
}
