.thumbnail-wrapper {
  position: relative;
  width: 450px;
  margin: 0 auto;
}

.thumbnail-overlay {
  background-image: url("../images/polaroid-5.png");
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.thumbnail-wrapper::before {
  position: absolute;
  width: 70px;
  height: 100%;
  content: "";
  white-space: pre;
  background-color: white;
}

.thumbnail-wrapper::after {
  position: absolute;
  width: 50px;
  height: 100%;
  right: 0;
  content: "";
  white-space: pre;
  background-color: white;
}
