.loading-overlay {
  width: 100vw;
  height: 100vh;
  text-align: center;
  margin-top: calc(100vh / 2);
}

.loading-overlay :nth-child(1) {
  opacity: 0;
  animation: dot 1.3s infinite;
  animation-delay: 0s;
}

.loading-overlay :nth-child(2) {
  opacity: 0;
  animation: dot 1.3s infinite;
  animation-delay: 0.2s;
}

.loading-overlay :nth-child(3) {
  opacity: 0;
  animation: dot 1.3s infinite;
  animation-delay: 0.3s;
}

@keyframes dot {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
