html {
  font-family: 'Syne Mono', monospace;
  background-color: #eae8e8;
}
article {
  max-width: 720px;
  margin: 0 auto;
  padding: 0px 20px;
}
h1 {
  margin-top: 80px;
  margin-top: 40px;
}
hr {
  margin: 60px 0px 30px;
}
p {
  font-size: 14px;
  line-height: 1.9;
}
